fastapi==0.141.1
pydantic==2.13.4
pydantic-settings==2.15.0
uvicorn==0.21.1
redis==4.5.4
celery[redis]==5.2.7
fair-test==0.1.4
python-multipart==0.0.32
python-libcombine==0.2.19
python-libsbml==5.20.1
python-libsedml==2.0.32
rdflib==6.3.2
libcellml==0.4.0
defusedxml==0.7.1